---
import { Image } from "astro:assets";

interface Props {
	src: string;
	fullname: string;
	title: string;
}

const { src, fullname, title } = Astro.props;
---
<div class="flex flex-col items-center mb-2">
    <Image src={src} alt="Profile picture" class="rounded-full object-cover object-center h-40 w-40 shadow-xs" width={60} height={60}/>
    <span class="text-5xl font-bold text-stone-900">{fullname}</span>
    <span class="text-sm text-stone-700">{title}</span>
</div>
